<table class="ui center aligned celled table">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Account created</th>
        <th>Last log in date</th>
        <th>Admin</th>
        <th><i class="trash icon"></i></th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td> {{firstName}} {{lastName}} </td>
            <td> {{email}} </td>
            <td> {{signupDate}}</td>
            <td> {{lastLoginDate}}</td>
            <td style="overflow:visible;">
                <select class="ui dropdown" name="isAdmin">
                    <option value="{{isAdmin}}"></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </td>
            <td> <a href="/deleteUser/{{id}}"><button class="ui red button" type="button"><i class="trash icon"></i></button></a></td>
        </tr>
    {{/each}}
    </tbody>
</table>